@tailwind base;
@tailwind components;
@tailwind utilities;

.hashtag-link {
  color: #0d9488;
  text-decoration: none;
  font-size: 0.9em;
}
.hashtag-link:hover {
  text-decoration: underline;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
  }
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }